go 1.23.0

use (
	./cloud/comiccoin-authority
	./cloud/comiccoin-faucet
	./cloud/comiccoin-gateway
	./cloud/comiccoin-publicfaucet
	./native/desktop/comiccoin-cli
	./native/desktop/comiccoin-nftminter
	./native/desktop/comiccoin-nftstorage
	./native/desktop/comiccoin-wallet
)
