go 1.23.0

use (
	./cloud/comiccoin-authority
	./cloud/comiccoin-faucet
	./native/desktop/comiccoin
	./native/desktop/comiccoin-nftminter
	./native/desktop/comiccoin-nftstorage
	./native/desktop/comiccoin-registry
	./native/desktop/comiccoin-wallet
)
