# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
prod.Dockerfile
dev.Dockerfile
Dockerfile
.dockerignore
.gitignore
README.md
private.md
private.txt
docker-compose.yml

# Skip OS related stuff
.DS_Store

# Project artificats we don't want include...
# We don't want to share our private developer documentation which is for
# learning purposes or dev-ops purposes.
private_prod.md
private.md
private.txt

docs
data
.env
.env.prod
.env.production
.env.qa
